<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/main.css">
  <title>Detection</title>
  <link rel="shortcut icon" type="image/png" href="../static/fev1M1.png">
</head>
<body class="index" 
>
  <div id="videoContainer" style="text-align:-webkit-center">
    <img src="{{url_for('video')}}" id="video_stream" style="margin:0 0 0 0" class="full-withradius border"/>
    </div>
    
          <form action="/result" class="d-flex" method="POST" style="justify-content: center;
          align-content:center">
    
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" value="music" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Music</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" value="video">
            <label class="btn btn-outline-primary" for="btnradio2">Video</label>
          
          </div>   
    </div>
    <div>
      <button class="btn btn-outline-success" type="submit" value='Search' >Recommend</button>
    </div>
    
          </form> 
</body>
</html>
