<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBV&MRS</title>
    <link rel="shortcut icon" type="image/png" href="../static/fev1M1.png">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Signika:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Courgette&display=swap" rel="stylesheet">
</head>

<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../static/logo2.png" alt="myOnlinemeal.com">
        </div>

        <div class="p">
            <h1>Emotion Based Video and Music Recommendation System</h1>
        </div>
    </nav>

    <div class="detail">
 
        <h1>Enjoy free <span class="spanA">Video</span> & <span class="spanB">Music</span></h1>
        <p>This platform created to provide you best
            <br> Video and Music based on your current mood (Emotion).
        </p>
        <br>
        <div class="left">
            <button class="btn"><a href="#body1">Know More</a></button><form action="/index" method="GET"><button class="btn">Get Started</button></form>
        </div>
    </div>
    <div class="image">
        <img src="../static/Shape.png" class=shape >
        <img src="../static/pandam.png" class=panda>
    </div>
   
    <div class="middle">
        <h1>Know More About It</h1>
    </div>
    <div id="body1">
        <div class="container">
            <div class="card">
                <div class="content">

                    <h3>Motto</h3>
                    <p> The main motto behind this project is to reduce stress and save time of the people from their hectic schedule. This website provide you Video and Music based on your emotion. To read more about benefit of stress-free life click on read more.<p>
                    
                </div>
            </div>

            <div class="card">
                <div class="content">

                    <h3>Video</h3>
                    <p>You can watch Short Movie/Video based on your emotion. After clicking on get started,show your face on webcame to detect your current emotion, after the detection completed select video to get variety of Video. To read more about benefit of Video click on below button. </p>
                 
                </div>
            </div>

            <div class="card">
                <div class="content">

                    <h3>Music</h3>
                    <p>You can listen music based on your emotion. After clicking on Get Started button show your face to webcame to detect your emotion, after detection simply click on music to get music. To read more about benefit of Music click on below button.</p>

                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-conatiner">
            <div class="center">
                <h1>Best things for Entertainment</h1>
            </div><br>
            <div class="social-media">
                <a href="#"><span1 class="span1"><i class="fab fa-facebook-f"></span></i></a>
                <a href="#"><span1 class="span2"><i class="fab fa-twitter"></span></i></a>
                <a href="#"><span1 class="span3"><i class="fab fa-instagram"></span></i></a>
                <a href="#"><span1 class="span4"><i class="fab fa-youtube"></span></i></a>
            </div><br>
            <p class="right-text">&copy; 2022 Created by AbuBakar and Ahmad Afzal. All rights reserved.</p>
        </div>
        </div>
    </footer>
</body>

</html>
