<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Songs</title>
    <link rel="shortcut icon" type="image/png" href="../static/fev1M1.png">
</head>
<body class="index resultpage">
  <nav> <h1 style='text-align:center'>TOP 10 {{input}} Songs </h1></nav> 
  <br>
  <br>
  <br>
  

    <div id="box_div">
        <iframe style="border-radius:12px" src={{src}} width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
       
        <!-- {% for id in music_ids%} 
        <iframe src="https://open.spotify.com/embed/track/{{id}}?utm_source=generator" width="30%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" id='box_frame' style="padding:1rem 1rem"></iframe>
        {%endfor%} -->
    </div>
</body>
</html>

    


